
<h2>Submit a Query</h2>

<form method = "post" action = "/submitUsername">
    
    <label>Username:   </label>
    <input type = "text" name="username" placeholder="Username">
    
    <br>

  	<button type="submit">Submit</button>
    

</form>