
<h2>Query Result Displayed</h2>

    
    <label>Username:   </label>{{result.username}}

    <br>

    <label>Role:       </label>{{result.role}}

    <br>

    <label>Action:     </label>{{result.action}}

    <br>

  
<a href = "/createLog">create Another log</a>
<br>
<a href = "/viewLog">view Another log</a>

</form>